@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&family=Pacifico&display=swap');
body{
    background-color:#A52B31;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h2 {
  font-family: 'Pacifico', cursive;
}
body a{
    color: white;
}

header{
  text-align: center;
}

/* BUTTON */
.button {
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 20px;
  margin: 10px auto;
  padding: 0px 30 0px 30px;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  border-radius: 10%;
}


.button-contact a{
  background-color:   #FFF6DE;
  color: #A52B31; 
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 20px 30px 20px 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 10%;
}
.button a{
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    text-decoration: none;

}
/* MENU TOP BAR */

#menu-1 img {
  position: absolute;
  top: 10px;
  right: 0px;
  max-width: 100%;
  height: 50px;
}

#big-menu {
  background-color: white;
  color: black;
  bottom: 0;
  left: 50%;
  right: 0;
  top: 0;
  opacity: 1;
  overflow-y: scroll;
  padding: 15px 30px;
  position: fixed;
  transition: all 0.45s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
}

#big-menu.toggle-open {
  transform: translateX(0%);
  opacity: 1;
}


#big-menu a, #big-menu a:focus, #big-menu a:visited {
  color: black;
  display: block;
  font-size: 50px;
  margin: 25px auto;
  text-align: center;
  text-decoration: none;
}
#big-menu-close {
  background-color: white;
  color: darkred;
}

/* MAIN BODY */



/* ABOUT ME  */
.kathleen {
    background-repeat: no-repeat;
    background-color: #ffd45d56; 
}
.nameIntro{
  display: flex;
  align-items: center;
  grid-template-columns: 1fr;
  flex-direction: column;

  margin: 20px;
  padding: 30px;
}



h1.spaceOfName{
  color: black;
  size: 50px;
}


.spaceOfName{
  margin: -25px;
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: auto;
  grid-template-columns: 1fr;

}

@media (min-width: 480px) {
  .introduction{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 10px 200px 15px 200px
  }
}

@media (min-width: 1200px) {
  .introduction{
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(1fr, 1fr);
    align-items: center;
    margin: 20px 300px 15px 300px
  }
}

@media (min-width: 1200px) {
  .introduction h2{
    font-size: 35px;
  }
  .introduction h1{
    font-size: 40px;
  }
}

.profilepic{
  border-radius: 50%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 20px 20px 20px 20px;
  max-width: 100%;
  height: 300px;
  border: 2px solid white;

}
/* for mobile phone */
@media (min-width: 480px){
  .profilepic{
    border-radius: 50%;
    top: 0px;
    right: 0px;
    max-width: 100%;
    height: 300px;
  }
}
.goldengate{
  width: 100%;
  height: 175px;
}
.goldengate1{
  width: 100%;
  height: 100px;
}
.applepic{
  width: 200px;
  height: 300px;
  margin: -75px;
}


.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  margin: -50px 0px 0px 0px;
  padding: 10px;
  background-color: #DFB498;
}
.about-me {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  margin: -50px -10px 0px -10px;
  padding: 10px;
  background-color: #DFB498;
}
.about-me-header.h1{
  font-size: 20px;
  text-align: center;
  margin-bottom: -10px;
}

.about-me-header{
  color: #81664E;
}
.about-me-para{
  text-align: center;
  color: white;
  margin-top: -20px;
}
.centerElement{
  text-align: center;
}
 .default-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
}


/* DIRECTORY - body */

nav {

align-items: center;
color: #81664E;
}

p{
  text-align: center;
}
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  grid-gap: 0px 10px; 
 
}

nav a{
  color: #81664E;
  text-decoration: none;
}
li {
  display: inline;

}

.default-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  margin: 0px 0px 0px 0px;

}



h1{
  text-align: center;
}
/* SKILLS  */

.skills{
  display: grid;  
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  grid-gap: 0px 10px; 
}


#skills-button1{
  display: inline;
  background-color: white;
  color: #A52B31;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  height: 100px;

}
#skills-button1.hide{
  opacity: 0;
}

#skills-button2{
  display: inline;
  background-color: white;
  color: #A52B31;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  height: 100px;

}
#skills-button2.hide{
  opacity: 0;

}


#skills-list{
  background-color: white;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  transition: 0.45s ease-in;
  transform: translateX(0);

}
#skills-list.toggle-open {
  transform: translateY(100%);
  opacity: 1;
  position: relative;


}

.skills-list{
    align-items: center;
    flex-direction: row;
    grid-gap: 0px 10px; 
  }
  


.front-end{
  opacity:0;
}
.front-end.addDetails{
  background-color: #DFB498;
  color: white;
  opacity:1;
  margin: -20px 0px 0px 0px;
}

.back-end{
  opacity:0;
}
.back-end.addDetails{
  background-color: #DFB498;
  opacity:1;
  color: white;
  margin: -20px 0px 0px 0px;
}

/* PROJECTS  */

.projects {
  text-align: center;
}

.project-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  padding: 10px;
}
@media (min-width: 480px){
  .project-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: 1fr, 1fr, 1fr;
    max-width: 100%;
    height: 300px;
    padding: 10px;
  }
}
 /* at less than mobile */
.project-item{
  display: flex; 
  flex-direction: column;
  border: 2px solid white;
  border-radius:10px;
  height: 200px;
  width: 300px;
  margin: 10px;
}

#infoOnWeb{
display: none;
color: black;
}

#infoOnWeb2{
display: none;
color: black;
}

#infoOnWeb3{
display: none;
color: black;
}

.project-item h1{
  background-color: #A2ABCE;
  height: 100px;
}


 /* more than mobile*/
 @media (min-width: 480px){
  .project-item{
    display: flex;
    width: 400px;
    height: 100%;
  }
}


#project-button-1{
  background-color: white;
  color: #FAC08E; 
  cursor: pointer;
  font-size: 20px;
  padding: 0px 30px;
  text-transform: uppercase;
  text-align: center;
  height: 10px;
  width: 50px;

}
#project-button-2{
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 0px 30px;
  text-transform: uppercase;
  text-align: center;
  height: 10px;
  width: 50px;

}

#personal-website{
  opacity:0;
  /* background-color: white;
  color: black;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  transition: 0.45s ease-in;
  transform: translateX(0); */
}
#personal-website.toggle-open {
  transform: translateY(100%);
  opacity: 1;
  position: relative;
  padding: 15px 30px;
}
/* for icons at bottom */



/* BIO */
/*  */
.bio-icons {
  display: flex;
  align-items: center;
  height: auto;
  margin: 10px 0px 0px 0px;

}
.bio-icons img{
  border-radius: 40%;
}

bio-header{
color: white;

}
/* resume */

.resume-workexperience{
  text-align: left;
}
.resume-workexperience p{
  text-align: left;
}